/* Add here all your CSS customizations */
#loadMoreProductsBtn {
    display: none;
}

#pageHeader {
    height: 60vh;
}

.placeholderClass::-webkit-input-placeholder {
    color: white;
}

.placeholderClass:-moz-placeholder {
    color: white;
}

.placeholderClass::-moz-placeholder {
    color: white;
}

.placeholderClass:-ms-input-placeholder {
    color: white;
}

#footer a {
    color: #e36159;
    text-decoration: underline;
}

.datenschutzWrapper {
    margin-top: 20%;
    margin-bottom: 5%;
}