/* Add here all your CSS customizations */
#loadMoreProductsBtn {
    display: none;
}

.social-icons i {
    line-height: 2;
}

.placeholderClass::-webkit-input-placeholder {
    color: white;
}

.placeholderClass:-moz-placeholder {
    color: white;
}

.placeholderClass::-moz-placeholder {
    color: white;
}

.placeholderClass:-ms-input-placeholder {
    color: white;
}

#footer a {
    color: #e36159;
    text-decoration: underline;
}

.datenschutzWrapper,
.impressumWrapper {
    margin-top: 20%;
    margin-bottom: 5%;
}

.error-404 {
    font-size: 8rem;
}

/** Products page mobile friendly **/
@media screen and (max-width:1270px) {

    tr, td {
        padding:0;
        border-bottom:1px solid black;
    }

    table {
        border:none;
    }

    thead {
        display:none;
    }

    tr {
        float: left;
        width: 100%;
        margin-bottom: 2em;
    }

    td {
        float: left;
        width: 100%;
        padding:1em;
    }

    td::before {
        content:attr(data-label);
        word-wrap: break-word;
        background: #eee;
        width: 20%;
        float:left;
        padding:1em;
        font-weight: bold;
        margin:-1em 1em -1em -1em;
    }
}
