{% extends 'base.html.twig' %}
{% block body_content %}
<div class="impressumWrapper col-12 col-sm-auto px-4">
    <h1>Impressum</h1>
    <h4>Dilthey, Norman Leonhard</h4>
    Im Heidewinkel 22<br>
    40625, Düsseldorf<br>
    Tel: 0175 1082 487<br>
    Mail: <a href="mailto:norman@diltheymedia.com">norman@diltheymedia.com</a><br>
    UST-ID: DE320999856

</div>
{% endblock body_content %}