<html lang='en' xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/" prefix="og: http://ogp.me/ns#">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-133006262-1');
    </script>
    <meta name="description" content="CheersBrosnan">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Busenkissen" />
    <meta property="og:description" content="KissenMaterial: Plüsch-Baumwolle, 80% Baumwolle, 20% Polyester. Füllmaterial: 100% PES. Waschbar bei 40°CAbmessungen: ca. 32 x 37 x 17 cm"/>
    <meta property="og:url" content="https://amzn.to/2ROrXO9" />
    <meta property="og:image" content="https://images-na.ssl-images-amazon.com/images/I/81qWkwYyWGL._SL1500_.jpg" />
    
    <title>Busenkissen</title>
</head>
<body></body>
</html>